

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 1266px; height: 550px;
        }
        .silex-id-1574715366402-1 {top: 100px; left: 40px; height: 1.4em; width: 100px;
        }
        .silex-id-1574715370089-2 {top: 100px; left: 160px; height: 1.4em; width: 20px;
        }
        .silex-id-1574715375771-3 {top: 100px; left: 200px; height: 1.4em; width: 100px;
        }
        .silex-id-1574715349345-0 {top: 40px; left: 40px; height: 1.4em; width: 260px;
        }
        .silex-id-1574715422151-4 {top: 160px; left: 40px; height: 1.4em; width: 100px;
        }
        .silex-id-1574715425500-5 {top: 160px; left: 160px; height: 1.4em; width: 20px;
        }
        .silex-id-1574715435040-6 {top: 160px; left: 200px; height: 1.4em; width: 100px;
        }
        .silex-id-1574715439783-7 {top: 220px; left: 40px; height: 1.4em; width: 100px;
        }
        .silex-id-1574715442446-8 {top: 220px; left: 160px; height: 1.4em; width: 20px;
        }
        .silex-id-1574715447458-9 {top: 220px; left: 200px; height: 1.4em; width: 100px;
        }
        .silex-id-1574715453659-10 {top: 280px; left: 40px; height: 1.4em; width: 100px;
        }
        .silex-id-1574715458129-11 {top: 280px; left: 160px; height: 1.4em; width: 20px;
        }
        .silex-id-1574715464395-12 {top: 280px; left: 200px; height: 1.4em; width: 100px;
        }
        .silex-id-1574715468814-13 {top: 340px; left: 40px; height: 1.4em; width: 100px;
        }
        .silex-id-1574715471471-14 {top: 340px; left: 160px; height: 1.4em; width: 20px;
        }
        .silex-id-1574715476275-15 {top: 340px; left: 200px; height: 1.4em; width: 100px;
        }
        .silex-id-1574715479418-16 {top: 400px; left: 40px; height: 1.4em; width: 100px;
        }
        .silex-id-1574715482195-17 {top: 400px; left: 160px; height: 1.4em; width: 20px;
        }
        .silex-id-1574715487104-18 {top: 400px; left: 200px; height: 1.4em; width: 100px;
        }
        .silex-id-1574715968977-22 {top: 380px; left: 340px; height: 140px; width: 306px;
        }
        .silex-id-1574715349345-0 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1574715370089-2 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1574715425500-5 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1574715442446-8 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1574715458129-11 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1574715471471-14 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1574715482195-17 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1574727127645-23 {top: 40px; left: 340px; height: 100%; width: 300px;
        }
.absolute {
  position: absolute;
  top: 40px;
  left: 340px;
  width: 300px;
}
.silex-id-1574794276845-46 {top: 40px; left: 320px; width: 130px; height: 100%;
}
.silex-id-1574794304921-47 {top: 160px; left: 320px; width: 130px; height: 100%; display: none;
}
.silex-id-1574794343448-52 {top: 280px; left: 320px; width: 130px; height: 100%; display: none;
}
.silex-id-1574794356018-53 {top: 400px; left: 320px; width: 130px; height: 100%; display: none;
}
.silex-id-1574794408140-54 {top: 520px; left: 320px; width: 130px; height: 100%; display: none;
}
