

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1574792311478-32 {top: 140px; left: 20px; height: 1.4em; width: 100px;
        }
        .silex-id-1574792318815-33 {top: 140px; left: 320px; height: 1.4em; width: 100px;
        }
        .silex-id-1574792323269-34 {top: 140px; left: 600px; height: 1.4em; width: 100px;
        }
        .silex-id-1574793300045-40 {top: 360px; left: 600px; height: 1.4em; width: 100px;
        }
        .silex-id-1574793307126-41 {top: 360px; left: 20px; height: 1.4em; width: 100px;
        }
        .silex-id-1574793313463-42 {top: 360px; left: 320px; height: 1.4em; width: 100px;
        }
        .silex-id-1575600179899-0 {top: 520px; left: 20px; height: 1.4em; width: 700px;
        }
        .silex-id-1575600179899-0 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1575600193619-1 {top: 560px; left: 20px; height: 100px; width: 560px;
        }
        .silex-id-1575600208380-2 > textarea {border-width: 0px; border-style: solid;
        }
        .silex-id-1574792112195-25 {top: 80px; left: 20px; height: 1.4em; width: 700px;
        }
        .silex-id-1574792112195-25 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1575600309249-3 {top: 20px; left: 20px; height: 2em; width: 700px;
        }
        .silex-id-1575600309249-3 > textarea {border-width: 0px; border-style: solid;
        }
        .silex-id-1574793258898-36 {top: 300px; left: 20px; height: 1.4em; width: 700px;
        }
        .silex-id-1574793258898-36 > input {border-width: 0px; border-style: inset;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 1106px; height: 735px;
        }
        .silex-id-1575600208380-2 {top: 560px; left: 740px; height: 100px; width: 300px;
        }
        .silex-id-1575650842973-5 {top: 560px; left: 600px; height: 30px; width: 100px;
        }
        .silex-id-1574793365231-44 {top: 20px; left: 760px; height: 140px; width: 320px;
        }
        .silex-id-1574794276845-46 {top: 180px; left: 320px; height: 100px; width: 220px;
        }
        .silex-id-1574794260997-45 {top: 180px; left: 20px; height: 100px; width: 260px;
        }
        .silex-id-1574794304921-47 {top: 180px; left: 600px; height: 100px; width: 240px;
        }
        .silex-id-1574794343448-48 {top: 400px; left: 20px; height: 100px; width: 200px;
        }
        .silex-id-1574794356018-49 {top: 400px; left: 320px; height: 100px; width: 240px;
        }
        .silex-id-1574794408140-51 {top: 400px; left: 600px; height: 100px; width: 220px;
        }
