

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1575653916865-0 {top: 150px; left: 120px; height: 1.4em; width: 100px;
        }
        .silex-id-1575654412013-3 {top: 150px; left: 400px; height: 1.4em; width: 100px;
        }
        .silex-id-1575654417623-4 {top: 150px; left: 680px; height: 1.4em; width: 100px;
        }
        .silex-id-1575654440659-6 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1575655922851-12 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1575654382781-1 {top: 40px; left: 270px; height: 60px; width: 600px;
        }
        .silex-id-1575655985500-14 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1575655993019-15 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1575656114052-16 {top: 40px; left: 40px; height: 100px; width: 200px;
        }
        .silex-id-1575654437422-5 {top: 240px; left: 940px; height: 1.4em; width: 140px;
        }
        .silex-id-1575654440659-6 {top: 240px; left: 1100px; height: 1.4em; width: 20px;
        }
        .silex-id-1575654461568-7 {top: 240px; left: 1140px; height: 1.4em; width: 140px;
        }
        .silex-id-1575654477775-8 {top: 350px; left: 120px; height: 1.4em; width: 100px;
        }
        .silex-id-1575654481430-9 {top: 350px; left: 400px; height: 1.4em; width: 100px;
        }
        .silex-id-1575654485857-10 {top: 350px; left: 680px; height: 1.4em; width: 100px;
        }
        .silex-id-1575654495847-11 {top: 300px; left: 940px; height: 1.4em; width: 140px; display: none;
        }
        .silex-id-1575655922851-12 {top: 300px; left: 1100px; height: 1.4em; width: 20px; display: none;
        }
        .silex-id-1575655937145-13 {top: 300px; left: 1140px; height: 1.4em; width: 140px; display: none;
        }
        .silex-id-1575656208269-17 {top: 380px; left: 120px; height: 1.4em; width: 100px; display: none;
        }
        .silex-id-1575656220140-18 {top: 380px; left: 400px; height: 1.4em; width: 100px; display: none;
        }
        .silex-id-1575656224038-19 {top: 380px; left: 680px; height: 1.4em; width: 100px; display: none;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 35px; width: 1386px; height: 835px;
        }
        .silex-id-1575656259462-21 {top: 470px; left: 940px; height: 1.4em; width: 140px; display: none;
        }
        .silex-id-1575656265421-22 {top: 470px; left: 1100px; height: 1.4em; width: 20px; display: none;
        }
        .silex-id-1575656270923-23 {top: 470px; left: 1140px; height: 1.4em; width: 140px; display: none;
        }
        .silex-id-1575656238512-20 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1575656265421-22 > input {border-width: 0px; border-style: inset;
        }
        .silex-id-1575654395524-2 {top: 40px; left: 900px; height: 140px; width: 400px;
        }
        .silex-id-1575654382781-1 > textarea {border-width: 0px; border-style: solid;
        }
        .silex-id-1574794276845-46 {top: 190px; left: 320px; height: 100px; width: 220px;
        }
        .silex-id-1574794260997-45 {top: 190px; left: 40px; height: 100px; width: 260px;
        }
        .silex-id-1574794304921-47 {top: 190px; left: 600px; height: 100px; width: 240px;
        }
        .silex-id-1574794343448-48 {top: 380px; left: 40px; height: 100px; width: 150px;
        }
        .silex-id-1574794356018-49 {top: 380px; left: 320px; height: 100px; width: 240px;
        }
        .silex-id-1574794408140-51 {top: 380px; left: 600px; height: 100px; width: 220px;
        }
        .silex-id-1574794343448-52 {top: 420px; left: 40px; height: 100px; width: 150px; display: none;
        }
        .silex-id-1574794356018-53 {top: 420px; left: 320px; height: 100px; width: 200px; display: none;
        }
        .silex-id-1574794408140-54 {top: 420px; left: 600px; height: 100px; width: 260px; display: none;
        }
